# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Build files
build/
dist/
*.egg-info/

# Virtual environments
.venv/
venv/

# Jupyter (if used)
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Env variables
.env

# Optional (if you don't want to upload models)
# models/*.pkl